
$font: (
  sizes: (
    xs: (font-size: 0.75rem, line-height: 1rem),
    sm: (font-size: 0.875rem, line-height: 1.25rem),
    md: (font-size: 1rem, line-height: 1.5rem),
    lg: (font-size: 1.25rem, line-height: 1.75rem),
    xl: (font-size: 1.5rem, line-height: 2rem),
    xxl: (font-size: 1.85rem, line-height: 2.25rem),
    xxxl: (font-size: 2rem, line-height: 2.5rem),
    super: (font-size: 4rem, line-height: 4rem),
    hey: (font-size: 5rem, line-height: 4rem),
  ),
  height: (
    1: .25rem,
    2: .5rem,
    3: .75rem,
    4: 1rem,
    5: 1.25rem,
    6: 1.5rem,
    7: 1.75rem,
    8: 2rem,
    9: 2.25rem,
    10: 2.5rem,
    11: 2.75rem,
    12: 3rem,
    13: 3.25rem,
    14: 3.5rem,
    15: 4rem
  ),
  weight: (
    100, 200, 300, 400, 500, 600, 700, 800, 900, bold, bolder
  )
)
